/* COLOR PALETTE
  dark-color: rgb(203, 224, 221); #cbe0dd;
  lightskyblue: rgb(135, 206, 250), #87CEFA;
  lavendergray: rgb(139, 143, 143), #8b8f8f;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 6rem;
    padding: 1rem;
}

.score-container {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

.game-board {
    position: relative;
    width: calc((50px * 9) + 4px);
    margin: auto;
    border: 2px solid rgb(0, 23, 50);
}

.grid {
    width: calc(50px * 9);
    height: calc(50px * 9);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: contain;
}

.square-dark {
    background-color: #cbe0dd;
}

.river {
    background-color: lightskyblue;
}

.wood {
    background-image: url("../images/wood.png");
}

.road {
    background-color: #8b8f8f;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
}

.bus {
    background-image: url("../images/bus.png");
}

.car {
    background-image: url("../images/car.png");
}

.reverse-icon {
    transform: scaleX(-1);
}

.duck {
    background-image: url("../images/duck-walk.gif");
}

.winner-duck {
    background-image: url("../images/duck-standing.png");
}

.drowned-duck {
    background-image: url("../images/duck-drowned.png");
}

.hit-duck {
    background-image: url("../images/duck-hit.png");
}

.river.duck {
    background-image: url("../images/duck-walk.gif"), url("../images/wood.png");
}

.end-game-screen {
    background-color: rgba(241, 117, 78, 0.6);
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.win {
    background-color: rgba(78, 241, 187, 0.6);
}

.end-game-text {
    font-size: 48px;
    line-height: 1.2;
}

button {
    border: 2px solid rgb(0, 23, 50);
    font-size: 24px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
    padding: 4px 20px 8px 20px;
    cursor: pointer;
}


button:hover {
    background-color: rgb(203, 224, 221);
}